<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BMI Reports Page</title>

    <style>
        table {
            width: auto;
        }
        h3 {
            padding-bottom: 10px;
        }
</style>
</head>
<body>

    <center><h3>BMI Reports</h3></center>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Height</th>
                <th>Weight</th>
                <th>BMI</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td>{{Height}}</td>
                <td>{{Weight}}</td>
                <td>{{BMI}}</td>
                <td>{{Status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
</body>
</html>