<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Results</title>

    <style>
        #tableDiv{
            width: 70%;
            text-align: center;
            margin: auto;
        }

        h3{
            text-align: center;
            padding: 20px 0 20px 0;
        }
        body{
            background-color: lightblue;
        }
    </style>
</head>
<body>

    <h3>Your BMI Results</h3>

    <div id="tableDiv">
    <table class="table table-borderless table-dark">
        <tr>
            <th>Your Height</th>
            <td>{{bmiObject.Height}}</td>
        </tr>

        <tr>
            <th>Your Weight</th>
            <td>{{bmiObject.Weight}}</td>
        </tr>

        <tr>
            <th>Your BMI</th>
            <td>{{bmiObject.BMI}}</td>
        </tr>

        <tr>
            <th>Your Status</th>
            <td>{{bmiObject.Status}}</td>
        </tr>
    </table>
    </div>
    
</body>
</html>